<div class="row align-items-center">
  <div class="col-12 pt-5 px-0">
    <button class="btn btn-md btn-light float-left bg_clear border-0">
      <i class="material-icons pt-2">keyboard_arrow_left</i>
    </button>
    <div class=" date-box">
      <p class=" m-0 py-2 h6"> Mis tickets en venta </p>
    </div>
  </div>
</div>

<!-- HISTORIAL DE VENTAS -->
<div class="row">

  <div class="col-12 pt-3 pr-3 pb-0 pl-3">
    <div class="rounded border p-0">
      <p class="m-0 font-weight-bold clearfix pt-3 pr-3 pl-3 pb-0">
        <span class="float-left">Menú [0]</span>
        <span class="float-right">Hoy</span>
      </p>
      <p class="h6 mt-3 mb-2  pt-0 pr-3 pl-3 pb-0">Vendido a
        <span class="font-orange">Josué Ayala</span>
      </p>
      <p class="h6 font-weight-light font-gray  pt-0 pr-3 pl-3 pb-2">Q. 12</p>
      <p class="h6 bg-light text-center text-uppercase m-0 py-2 d-table w-100">
        <i class="material-icons md-18 align-middle" style="margin-top:-4px">attach_money</i> Efectivo</p>
    </div>
  </div>

  <div class="col-12 pt-3 pr-3 pb-0 pl-3">
    <div class="rounded border p-0">
      <p class="m-0 font-weight-bold clearfix pt-3 pr-3 pl-3 pb-0">
        <span class="float-left">Menú [0]</span>
        <span class="float-right">20/07/2018</span>
      </p>
      <p class="h6 mt-3 mb-2  pt-0 pr-3 pl-3 pb-0">Vendido a
        <span class="font-orange">Selvin Naz</span>
      </p>
      <p class="h6 font-weight-light font-gray  pt-0 pr-3 pl-3 pb-2">Q. 12</p>
      <p class="h6 bg-light text-center text-uppercase m-0 py-2 d-table w-100">
        <i class="material-icons md-24 align-middle" style="margin-top:-4px">swap_horiz</i> Intercambio ticket</p>
    </div>
  </div>

</div>