<div class="row align-items-center">
  <div class="col-12 pt-5 px-0">
    <button class="btn btn-md btn-light float-left bg_clear border-0" routerLink="/profile">
      <i class="material-icons pt-2">keyboard_arrow_left</i>
    </button>
    <div class=" date-box" routerLink="/profile">
      <p class=" m-0 py-2 h6"> Historial de compras </p>
    </div>
  </div>
</div>

<!-- HISTORIAL DE COMPRA -->
<div class="row" *ngFor="let item of purchaseByMonth">
  <div class="col-12 bg_gray_ligther text-center">
    <div>
      <p class="py-3 h6 m-0 text-uppercase font-weight-bold">{{ item.month }}</p>
    </div>
  </div>
  <div class="col-12 pt-3 pr-3 pb-0 pl-3" *ngFor="let ticket of item.tickets">
    <div class=" rounded border p-2">
      <p class="text-right m-0 font-weight-light">{{ ticket.updatedAt | date }}</p>
      <p class="h4 my-0 p-0 font-weight-light text-uppercase">[{{ ticket.quantity }}] Tickets</p>
      <p class="text-right m-0 h4 font-weight-light font-orange">Q. {{ ticket.amount }}</p>
    </div>
  </div>
</div>