<div class="row align-items-center">
  <div class="col-12 pt-5 px-0">
    <button class="btn btn-md btn-light float-left bg_clear border-0" routerLink="/profile">
      <i class="material-icons pt-2">keyboard_arrow_left</i>
    </button>
    <div class=" date-box" routerLink="/profile">
      <p class=" m-0 py-2 h6"> Historial de compras </p>
    </div>
  </div>
</div>

<!-- HISTORIAL DE COMPRA -->
<div class="row">
  <div class="col-12 bg_gray_ligther text-center">
    <div>
      <p class="py-3 h6 m-0 text-uppercase font-weight-bold"> Junio </p>
    </div>
  </div>
  <div class="col-12 pt-3 pr-3 pb-0 pl-3">
    <div class=" rounded border p-2">
      <p class="text-right m-0 font-weight-light">19/07/2018</p>
      <p class="h4 my-0 p-0 font-weight-light text-uppercase">[00] Tickets</p>
      <p class="text-right m-0 h4 font-weight-light font-orange">Q. 24</p>
    </div>
  </div>
  <div class="col-12 pt-3 pr-3 pb-0 pl-3">
    <div class=" rounded border p-2">
      <p class="text-right m-0 font-weight-light">19/07/2018</p>
      <p class="h4 my-0 p-0 font-weight-light text-uppercase">[00] Tickets</p>
      <p class="text-right m-0 h4 font-weight-light font-orange">Q. 24</p>
    </div>
  </div>
  <div class="col-12 pt-3 pr-3 pb-3 pl-3">
    <div class=" rounded border p-2">
      <p class="text-right m-0 font-weight-light">19/07/2018</p>
      <p class="h4 my-0 p-0 font-weight-light text-uppercase">[00] Tickets</p>
      <p class="text-right m-0 h4 font-weight-light font-orange">Q. 24</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg_gray_ligther text-center">
    <div>
      <p class="py-3 h6 m-0 text-uppercase font-weight-bold"> Julio </p>
    </div>
  </div>
  <div class="col-12 pt-3 pr-3 pb-3 pl-3">
    <div class=" rounded border p-2">
      <p class="text-right m-0 font-weight-light">19/07/2018</p>
      <p class="h4 my-0 p-0 font-weight-light text-uppercase">[00] Tickets</p>
      <p class="text-right m-0 h4 font-weight-light font-orange">Q. 24</p>
    </div>
  </div>
</div>