<!--The content below is only a placeholder and can be replaced.-->
<div class="login text-center">
  <form class="form-signin shadow rounded">
    <h1 class="h3 mb-3 bg_orange">FOX LUNCH</h1>
    <div class="p-3">
      <div class="form-group m-0 has-feedback has-feedback-left">
        <p>Hola, ingresa tu correo electrónico para reestablecer tu contraseña</p>
      </div>
      <div class="form-group m-0 has-feedback has-feedback-left">
        <label for="inputEmail" class="sr-only">Correo electrónico</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required="true">
        <i class="form-control-feedback material-icons mi-gray">person</i>
      </div>
      <button class="my-3 btn btn-md btn-block bg_gray text-center text-white font-weight-bold" type="submit">REESTABLECER</button>
      <span class="font-orange btn btn-sm btn-link" routerLink="/login">Cancelar</span>
    </div>
  </form>
</div>