<div class="container">
  <div class="row">
    <div class="col-12 py-5 text-center" *ngIf="!countDownView">
      <p class="pt-5 mb-1">Hola {{ currentUser.name }}</p>
      <p class="h4" *ngIf="alreadyExchange">Se agotó el tiempo para cancelar tu canje</p>
      <p class="h4" *ngIf="!alreadyExchange">Se agotó el tiempo para realizar tu canje</p>
    </div>
    <div class="col-12 py-5 text-center" *ngIf="purchaseView">
      <p class="pt-5 mb-1">Hola {{ currentUser.name }}</p>
      <p class="h4" *ngIf="!alreadyExchange">¿Qué vas a almorzar mañana?</p>
      <p class="h4" *ngIf="alreadyExchange">Ya has realizado tu canje</p>
      <p class="h6 mb-4" *ngIf="!alreadyExchange">Tienes hasta las
        <span class="font-orange">07:00p.m.</span> para realizar tu canje.</p>
      <p class="h6 mb-4" *ngIf="alreadyExchange">Tienes hasta las
        <span class="font-orange">07:00p.m.</span> para cancelarlo.</p>
      <button routerLink="/menu" class="btn btn-md bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase px-4"
        type="submit" *ngIf="!alreadyExchange">Ver menú</button>
      <button routerLink="/exchanges" class="btn btn-md bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase px-4"
        type="submit" *ngIf="alreadyExchange">Ver mis canjes</button>
    </div>
  </div>

  <!-- COUNTER -->
  <div class="row  py-2 text-center bg-light" *ngIf="countDownView">
    <div class="col-12">
      <p class="pt-3 mb-4 text-uppercase">Quedan</p>
    </div>
    <div class="col-4">
      <p class="py-3 h3 border rounded">{{ hours }}</p>
      <p class="py-0 h6 text-uppercase">H</p>
    </div>
    <div class="col-4">
      <p class="py-3 h3 border rounded">{{ minutes }}</p>
      <p class="py-0 h6 text-uppercase">M</p>
    </div>
    <div class="col-4">
      <p class="py-3 h3 border rounded">{{ seconds }}</p>
      <p class="py-0 h6 text-uppercase">S</p>
    </div>
    <div class="col-12 text-center">
      <img class="my-0 p-5 img-fluid" src="../assets/img/bottom_home.jpg" />
    </div>
  </div>

  <!-- VENTAS DISPONIBLES, NOTIFICAR DE VENTAS, NO HAY VENTAS -->
  <div class="row  pt-0 bg-light">
    <div class="col-12 m-0 px-3 my-3 border-bottom">
      <p class="float-left pt-0 mb-0 text-uppercase">Ventas</p>
      <h6 class="float-right">
        <span class="badge badge-secondary bg_orange badge-pill">{{ availableTickets }} tickets a la venta</span>
      </h6>
    </div>
    <div class="col-12">
      <p class="p-3 text-center">Busca quién te puede intercambiar su ticket de almuerzo</p>
      <button routerLink="/ticket-sale" class="btn btn-md btn-block bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase mb-3">Buscar
        ticket
      </button>
    </div>
  </div>
</div>