<!--The content below is only a placeholder and can be replaced.-->
<div class="login text-center">
  <form class="form-signin shadow rounded">
    <h1 class="h3 mb-3 bg_orange">FOX LUNCH</h1>
    <div class="p-3">
      <div class="form-group m-0 has-feedback has-feedback-left">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="true">
        <i class="form-control-feedback material-icons mi-gray">person</i>
      </div>
      <div class="form-group m-0 has-feedback has-feedback-left">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="true">
        <i class="form-control-feedback material-icons mi-gray">vpn_key</i>
      </div>
      <button class="my-3 btn btn-md btn-block bg_gray text-white font-roboto font-weight-bold letspc-5" type="submit">ENTRAR</button>
      <div class="form-group mt-4 mb-0">
        <div class="checkbox">
          <button class="font-orange btn btn-sm btn-link" type="submit">¿Olvidé mi contraseña?</button>
        </div>
      </div>
    </div>
  </form>
</div>