<!--The content below is only a placeholder and can be replaced.-->
<div class="login text-center">
  <form class="form-signin shadow rounded" [formGroup]="loginForm" (ngSubmit)="login()">
    <h1 class="h3 mb-3 bg_orange">FOX LUNCH</h1>
    <div class="p-3">
      <div class="form-group m-0 has-feedback has-feedback-left">
        <label for="inputEmail" class="sr-only">Correo electrónico</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required="true" formControlName="email">
        <i class="form-control-feedback material-icons mi-gray">person</i>
      </div>
      <div class="form-group m-0 has-feedback has-feedback-left">
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="true" formControlName="password">
        <i class="form-control-feedback material-icons mi-gray">vpn_key</i>
      </div>
      <button class="my-3 btn btn-md btn-block bg_gray text-center text-white font-weight-bold" type="submit">ENTRAR</button>
      <div class="form-group mt-4 mb-0">
        <div class="checkbox">
          <span class="font-orange btn btn-md btn-link" routerLink="/forget-password">¿Olvidé mi contraseña?</span>
        </div>
      </div>
    </div>
  </form>
</div>