<div class="row align-items-center">
  <div class="col-12 pt-5">
    <p class="pt-4 text-uppercase">Tickets disponibles</p>
  </div>

</div>

<!-- ROW POR MENU-->
<div class="row">
  <div class="col-12">
    <ul class="list-group mb-3">
      <li class="list-group-item border-bottom-0">
        <h6 class="pb-0 pt-1 font-roboto font-weight-bold letspc-5 text-uppercase font-orange">Menú 1</h6>
        <p class="m-0">Dueño: Josué Ayala</p>
      </li>
      <li class="list-group-item border-top-0 pt-0">
        <button class="btn btn-md btn-block bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase mt-2 mb-0" data-toggle="modal"
          data-target="#exampleModal">lo quiero</button>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <ul class="list-group mb-3">
      <li class="list-group-item border-bottom-0">
        <h6 class="pb-0 pt-1 font-roboto font-weight-bold letspc-5 text-uppercase font-orange font_disabled">Menú 4</h6>
        <p class="m-0 font_disabled">Dueño: Erick Pac</p>
      </li>
      <li class="list-group-item border-top-0 pt-0 text-right">
        <span class="badge p-2 font-weight-bold bg_orange text-white text-uppercase">Vendido</span>
      </li>
    </ul>
  </div>
</div>