<div class="row align-items-center">
  <div class="col-12 bg-light pt-5 px-0">
    <button class="btn btn-md btn-light float-left bg_clear border-0">
      <i class="material-icons pt-2">keyboard_arrow_left</i>
    </button>
    <button class="btn btn-md btn-light float-right bg_clear border-0">
      <i class="material-icons pt-2">keyboard_arrow_right</i>
    </button>
    <div class="text-center date-box">
      <p class=" m-0 p-0 h6 font_small text-uppercase font-weight-bold"> Hoy </p>
      <p class=" m-0 p-0 h6 font-gray font_small"> Domingo 22 de julio </p>
    </div>
  </div>
  <div class="col-12 pt-4 text-center">
    <p>Elije tu opción favorita para almorzar:</p>
  </div>

</div>

<!-- ROW POR MENU-->
<div class="row">
  <div class="col-12">
    <h6 class="py-3 m-0 font-roboto font-weight-bold letspc-5 text-uppercase font-orange">Menú 1</h6>
    <ul class="list-group mb-4">
      <li class="list-group-item">Sopa de güicoy sazón</li>
      <li class="list-group-item">Stake de res con tomates secos</li>
      <li class="list-group-item">Coditos con vegetales / puré de papa campesino con crema</li>
      <li class="list-group-item border-bottom-0">Vegetales con mantequilla</li>
      <li class="list-group-item border-top-0">
        <button class="btn btn-md btn-block bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase mt-2 mb-3" data-toggle="modal"
          data-target="#exampleModal">Canjear ticket</button>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h6 class="py-3 m-0 font-roboto font-weight-bold letspc-5 text-uppercase font-orange">Menú 2</h6>
    <ul class="list-group mb-4">
      <li class="list-group-item">Sopa de güicoy sazón</li>
      <li class="list-group-item">Stake de res con tomates secos</li>
      <li class="list-group-item">Coditos con vegetales / puré de papa campesino con crema</li>
      <li class="list-group-item border-bottom-0">Vegetales con mantequilla</li>
      <li class="list-group-item border-top-0">
        <button class="btn btn-md btn-block bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase mt-2 mb-3">Canjear ticket</button>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h6 class="py-3 m-0 font-roboto font-weight-bold letspc-5 text-uppercase font-orange">Menú 3</h6>
    <ul class="list-group mb-4">
      <li class="list-group-item">Sopa de güicoy sazón</li>
      <li class="list-group-item">Stake de res con tomates secos</li>
      <li class="list-group-item">Coditos con vegetales / puré de papa campesino con crema</li>
      <li class="list-group-item border-bottom-0">Vegetales con mantequilla</li>
      <li class="list-group-item border-top-0">
        <button class="btn btn-md btn-block bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase mt-2 mb-3">Canjear ticket</button>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h6 class="py-3 m-0 font-roboto font-weight-bold letspc-5 text-uppercase font-orange">Menú 4</h6>
    <ul class="list-group mb-4">
      <li class="list-group-item border-bottom-0">
        <p>
          <strong>Ensalada del chef</strong>
        </p>
        <p class="py-0 my-0">Mix de jamones, tomates en rodajas, pepino media luna, zanahoria rallada, queso amarillo, queso blanco, huevos cocidos,
          maíz dulce.</p>
      </li>
      <li class="list-group-item border-top-0">
        <button class="btn btn-md btn-block bg_gray text-white font-roboto font-weight-bold letspc-5 text-uppercase mt-2 mb-3">Canjear ticket</button>
      </li>
    </ul>
  </div>
</div>